.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 320px;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.auth-btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
